---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";

export const getStaticPaths = (async () => {

    const response = await fetch("https://fakemon-api-production.up.railway.app/api/v1/fakemons")
    const {results} = await response.json() as PokemonListResponse

    return results.map(pkm => ({
        params: {name: pkm.name},
        props: {name: pkm.name, pkm, id: pkm._id, image: pkm.imageUrl}
    }))
}) satisfies GetStaticPaths;

const {name} = Astro.params
const {pkm, image} = Astro.props

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/1.ogg`
---

<MainLayout 
    title={`Pokemon - ${name}`}
    image={image}>

    <section class="mt-10 x-10 flex flex-col justify-center items-center">
        <div>
            <a href="/">Regresar</a>
            <h1 class="text-5xl capitalize">{name}</h1>
        </div>
        <br/>

        <PokemonCard pkm={pkm} isBig/>
        <audio controls class="mt-5">
            <source src={audioSrc} type="audio/ogg" />
            Your browser does not support the audio element.
        </audio>
    </section>
</MainLayout>
<style>
    a {
        @apply hover:underline text-blue-500
    }
</style>