---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";

export const getStaticPaths = (async () => {
    
    const apiUrl =  import.meta.env.API_URL
    const response = await fetch(apiUrl)
    const {results} = await response.json() as PokemonListResponse

    return results.map(pkm => ({
        params: {name: pkm.name},
        props: {name: pkm.name, pkm, id: pkm._id, image: pkm.imageUrl}
    }))
}) satisfies GetStaticPaths;

const {name} = Astro.params
const {pkm, image} = Astro.props

---

<MainLayout 
    title={`Pokemon - ${name}`}
    image={image}>

    <section class="mt-10 x-10 flex flex-col justify-center items-center">
        <div>
            <a href="/">Regresar</a>
            <h1 class="text-5xl capitalize">{name}</h1>
        </div>
        <br/>

        <PokemonCard pkm={pkm} isBig/>
    </section>
</MainLayout>
<style>
    a {
        @apply hover:underline text-blue-500
    }
</style>