---
import { siteInfo } from "src/consts/site-info";
import HeadCommon from "./head/HeadCommon.astro";
interface Props {
    title?: string
	image?: string
	description?:string
}
const {title = siteInfo.title, description = siteInfo.description, image } = Astro.props as Props
---

<html lang="es">
	<head>
		<HeadCommon />
        
		<!-- SEO -->
		<meta name="description" content={description} />
		<meta name="author" content="Víctor Manuel Ordiales García | VerielDev">
		<!-- OG Metatags -->
		<meta property="og:title" content={title}/>
		<meta property="og:description" content={description}/>
		<meta property="og:image" content={image}/>
		<!-- Required -->
		<title>{title}</title>
	</head>
	<body>
        <main class="bg-gradient-to-br from-gray-800 to-gray-900 p-8 text-gray-200 min-h-screen">
            <slot />
        </main>
	</body>
</html>
